@charset "utf-8";
/* CSS Document */
html{
	overflow: hidden;
}

caption, .hidden { visibility: hidden; width: 0; height: 0; overflow: hidden; position: absolute; left:-9999999999999999px; font-size: 0; line-height: 0; }

#top { height: 70px; position: relative; }
#top h1 { width: 414px; height: 42px; display: block; background: url(../images/logo.png) no-repeat; position: absolute; left: 35px; top: 15px; }
#map_sel { border: 1px solid #153e62; position: absolute; right: 35px; top: 9px; }
#map_sel:after { display: block; clear: both; content: ''; }
#map_sel li { float: left; }
#map_sel li a { width: 50px; height: 50px; display: block; background-position: 0 0; }
#map_sel li a.on { background-position: -50px 0; }
.map1 { background: url(../images/btn_map1.png) no-repeat; }
.map2 { background: url(../images/btn_map2.png) no-repeat; }



/*nav-selectbox*/
#nav { height: 21px; padding: 10px 90px; background: #313942; color: #fff; font-family: 'Dotum'; position: relative;}
#nav:after { display: block; clear: both; content: ''; } 
#nav .here { width: 70px; font-size: 12px; height: 12px; padding-left: 15px; margin-right: 15px; background: url(../images/icon_here.png) left center no-repeat; color: #b4b5cd; margin-top: 3px;}
#nav .arrow { width: 7px; height: 9px;  background: url(../images/nav_arrow2.png) no-repeat; margin-right: 10px; margin-top: 5px;}
#nav .here, #nav .arrow { display: block; float: left; }

.comm_sel { width: 110px; float: left; margin-right: 20px; }
.comm_sel .jq_sel { display: block; height: 24px; font-size: 12px; position: relative; }
.comm_sel .jq_sel span { position: absolute; left: 0; top: 0; white-space: nowrap; height: 24px; width:100%;_width:auto; line-height: 20px; text-align:left; text-indent: 8px; color: #fff; overflow: hidden; cursor: pointer}
.comm_sel .jq_sel a.jqTransformSelectOpen { display:block; position:absolute; right:0px; top: 5px; width: 32px; height: 24px; background:url(../images/nav_arrow3.png) no-repeat 100% 0}
.comm_sel .jq_sel ul { /*overflow: auto;*/ position: absolute; z-index: 9999; top: 30px; left: 0px; max-height: 300px; width:100%; background :#313a43; border-bottom:solid 1px #18181a; display: none; overflow: auto; overflow-y: auto; z-index: 10; white-space: nowrap; }
.comm_sel .jq_sel li { border-right: solid 1px #18181a; border-left: solid 1px #18181a; font-family: 'Dotum'; font-size: 12px; }
.comm_sel .jq_sel ul a { display: block; padding: 4px 2px 4px 8px; text-decoration: none; color: #fff; text-align: left}
.comm_sel .jq_sel ul a:hover { background: #212227 }
.comm_sel .jq_sel ul a.selected { }
.comm_sel .jq_sel_hide { display: none; }








#container { position: relative; min-width: 1280px; width: 100%; }



#tab { position: absolute; left: 360px; top: 31px; z-index: 3;}
#tab li { width: 22px; height: 85px; padding: 15px 5px 0px 5px; text-align: center; font-size: 15px; background: #fbfbfb; cursor: pointer; line-height: 18px; color: #000; border-bottom: 1px solid #d5d5d5; border-right: 1px solid #d5d5d5; border-radius: 0px 5px 5px 0px;}
#tab li.on { background: #006ecf !important; color: #fff !important; }



/*좌측*/
.lnb { width: 360px; height: 898px; border-right: 1px solid #000; overflow-y: scroll; background: #fff; position: absolute; left: 0px; top: 0; letter-spacing: -1px; z-index: 3;}
.lnb h2 { height: 24px; padding: 7px 20px 7px 82px; border-bottom: 1px solid #d9d9d9; font-size: 17px; background: #f7f7f7; position: relative; cursor: pointer;  font-family: 'notokr-regular'; }
.lnb h2> span { width: 10px; height: 6px; position: absolute; right: 20px; top: 15px; background: url(../images/btn_show.png) no-repeat; }
.lnb h2.ov { background: #7dbe24; color: #fff; }
.lnb h2.ov span { background: url(../images/btn_hide.png) no-repeat; }

.lnb li> .layerOnOff { width: 67px; height: 31px; position: absolute; background: url(../images/btn_on.png) no-repeat; z-index: 1; cursor: pointer; margin-left: 8px; margin-top: 4px;}
.lnb li> .layerOnOff.ov { width: 67px; height: 31px; position: absolute; background: url(../images/btn_off.png) no-repeat; z-index: 1; cursor: pointer; margin-left: 8px; margin-top: 4px;}

.lnb_conts { padding: 15px 20px; border-bottom: 1px solid #d9d9d9; }
.lnb_conts h3 { border-bottom: 2px solid #464c5a; margin-bottom: 15px; font-family: 'Dotum'; padding-bottom: 5px; font-weight: bold; }
.lnb_conts h3> span { color: #fe0000; font-size: 12px; margin-left: 5px; font-weight: normal; }
.lnb_conts h3> span> strong { font-family: Verdana; letter-spacing: 0; }
.lnb_conts dl { margin-bottom: 7px; }
.lnb_conts dl:last-child { margin-bottom: 0; }
.lnb_conts dl:after { display: block; clear: both; content: ''; } 
.lnb_conts dl dt { width: 75px; padding-left: 7px; margin-top: 8px; display: block; font-weight: bold; background: url(../images/blit_1.gif) left 5px no-repeat; float: left; }
.lnb_conts dl dd { width: 220px; float: left; }
.lnb_conts dl dd p { margin-bottom: 3px; }
.lnb_conts dl dd p:last-child { margin-bottom: 0; }

.box { padding: 10px; border: 1px solid #e3e3e3; background: #f9f9f9; }
.lnb_conts dt, .lnb_conts dd, .lnb_conts label, .lnb_conts input, .lnb_conts select { font-family: 'Dotum'; font-size: 12px; }
.lnb_conts input, .lnb_conts select { padding: 8px 5px; border: 1px solid #dbdbdb; }




.ctrl_btn a {
    width: 36px;
    height: 36px;
    border: 1px solid #000000;
    display: inline-block;
    background-position: center center;
}
.grid> li {width: 50%;float: left;}

.ctrl_left {
    background: url(../images/pre.png) no-repeat;
}

.ctrl_play {
    background: url(../images/play.png) no-repeat;
}

.ctrl_right {
    background: url(../images/next.png) no-repeat;
}
.ctrl_stop {
    background: url(../images/stop.png) no-repeat;
}
.ctrl_pause {
    background: url(../images/pause.png) no-repeat;
}
.ctrl_pause_play {
    background: url(../images/pause_play.png) no-repeat;
}
.ctrl_fast_forward {
    background: url(../images/fast_forward.png) no-repeat;
}

.ctrl_btn {
    text-align: center;
}


/*gis*/
#map { width: 100%; height: 898px;}

#map_type { position: absolute; right: 20px; top: 10px; z-index: 1;}
#map_type:after { display: block; clear: both; content: ''; } 
#map_type li { float:left; }
#map_type li a { padding: 4px 8px; display: block; color: #333b3e; font-family: 'Dotum'; font-size: 11px; letter-spacing: -1px; background: #fff; border-top: 1px solid #a2abb4; border-left: 1px solid #a2abb4; border-bottom: 1px solid #a2abb4; }
#map_type li:last-child a { border-right: 1px solid #a2abb4; }
#map_type li.on a { background: #1688e8; border-color: #175d99; color: #fff; }
.maker { width: 74px; height: 53px; padding-top: 21px; background: url(../images/maker.png) no-repeat; position: absolute; cursor: pointer; color: #fff; text-align: center; font-size: 24px; font-family: Verdana; font-weight: bold; }
.maker:hover { background: url(../images/maker_ov.png) no-repeat; }

/*popup*/
#popup { width: 400px; height: 350px; border: 1px solid #4a5164; background: #fff; position: absolute; z-index: 999; }
.pop_tit { height: 30px; padding: 5px 0 0 20px;  background: #4a5164; color: #fff; letter-spacing: -1px; font-size: 17px; position: relative; }
.pop_conts { padding: 10px; height: 253px; overflow-y: scroll; }
.pop_bot { padding: 5px 0; border-top: 1px solid #d2d2d2; background: #f1f1f1; text-align: center; }

/*상세내용*/
.tooltip { width: 396px; height: 328px; padding: 1px; position: absolute; z-index: 999; background: url(../images/bg_tool_tip.png) no-repeat; } 
.tt_tit { height: 33px; padding-top: 7px; padding-left: 13px;  background: #f2f4f4; color: #000; letter-spacing: -1px; font-size: 17px; position: relative; }
.tt_tit span { width: 12px; height: 12px; margin-right: 5px; background: url(../images/icon_spot.png) no-repeat; display: inline-block; }
.pop_conts2 { padding: 10px; height: 225px; overflow-y: scroll; }

/*  */
#legend { position: absolute; right: 85%; top: 10px; z-index: 2;}
#legend:after { display: block; clear: both; content: ''; } 
#legend li { float:left; }
#legend li a { padding: 4px 8px; display: block; color: #333b3e; font-family: 'Dotum'; font-size: 11px; letter-spacing: -1px; background: #fff; border-top: 1px solid #a2abb4; border-left: 1px solid #a2abb4; border-bottom: 1px solid #a2abb4; }
#legend li:last-child a { border-right: 1px solid #a2abb4; }
#legend li.on a { background: #1688e8; border-color: #175d99; color: #fff; }






/*btn-st*/
.btn01 { padding: 10px 60px; background: #494949; color: #fff; font-family: 'Dotum'; font-size: 14px; font-weight: bold; margin: 0px auto; }
.btn02 { width: 80px; height: 18px; text-indent: 5px; margin-top: -2px; padding-top: 6px; color: #fff; font-size: 11px; letter-spacing: -1px; display: block; background: url(../images/btn_addr.png) no-repeat; }
.btn03 { background: url(../images/btn_close.png) no-repeat; top: 10px; }
.btn04 { padding: 5px 45px; border: 1px solid #353d52; background: #4a5164; color: #fff; font-size: 14px; display: inline-block; }
.btn05 { padding: 5px 45px; border: 1px solid #d2d2d2; background: #fff; color: #353d52; font-size: 14px; display: inline-block; }
.btn06 { background: url(../images/btn_close2.png) no-repeat; top: 13px; }


.btn03, .btn06 { width: 11px; height: 11px; display: block; position: absolute; right: 11px; }


/*20181112 주제도 추가*/
#around_info  { position: absolute; left: 55px; top: 10px; letter-spacing: -1px; z-index:1 }
#around_info> li { width: 100px; background: #fff; border-left: 1px solid #666; border-right: 1px solid #666; border-top: 1px solid #666; font-family: 'Dotum'; font-size: 11px; color: #58657a; position: relative; }
#around_info> li:last-child { border-bottom: 1px solid #666; }
#around_info> li.active { background: #9ca3bc; color: #fff; }
#around_info> li.active span { background-position: -19px center; }
#around_info label { font-family: 'Dotum'; font-size: 11px; }

/*20181114*/
.btn_radio { margin-bottom: 20px; }
.btn_radio:after { display: block; clear: both; content: ''; } 
.btn_radio> li { float: left; margin-right: 1px; }
.btn_radio> li:last-child { margin-right: 0; }
.btn_radio> li> a { height: 22px; padding-top: 8px; padding-left: 33px; color: #000; font-family: 'Dotum'; font-size: 12px; font-weight: bold; letter-spacing: -1px; display: block; background: url(../images/icon_radio_none.png) 10px 6px no-repeat, #d1d1d1; }

.btn_radio> li> a.off { }
.btn_radio> li> a.on { background: url(../images/icon_radio_chk.png) 10px 6px no-repeat, #3d4866; color: #fff; }

#around_info span { height: 20px; display: block; padding: 10px 0 0 30px; background-position: 5px center; }
.pic_school { background: url(../images/icon_010.png) no-repeat; }


.ar_detail { width: 150px; border: 1px solid #5a6173; position: absolute; left: 100px; top: -1px; display: none; background: #fff; z-index: 1000; }
.ar_detail table { width: 100%; }
.ar_detail table tr { height: 29px; }
.ar_detail table td { padding-left: 35px; border-bottom: 1px solid #e1e1e1; position: relative; color: #47516c; background-position: 3px center; }
.ar_detail table tr:last-child td { border-bottom: 0; }
.ar_detail table td input { position: absolute; right: 10px; top: 8px; }

.icon_011 { background: url(../images/icon_011.gif) no-repeat; }
.icon_012 { background: url(../images/icon_012.gif) no-repeat; }
.icon_013 { background: url(../images/icon_013.gif) no-repeat; }
.icon_014 { background: url(../images/icon_014.gif) no-repeat; }
.icon_015 { background: url(../images/icon_015.gif) no-repeat; }


#tabOpener { position: absolute; left: 360px; top: 0px; z-index: 3; height: 32px;}
#tabOpener li { width: 34px; height: 34px; text-align: center;  background: url(../images/open_west.png) no-repeat; cursor: pointer; line-height: 18px; color: #000; margin-top: -1px; }
#tabOpener li.on { background: url(../images/close_west.png) no-repeat !important; color: #fff !important; }




/*20181115*/
.term { }
.grid:after { display: block; clear: both; content: ''; }

.iotGrid:after { display: block; clear: both; content: ''; }
.iotGrid>li {width: 33%;float: left; margin-bottom: 5px;}

.iotTerm> li:nth-child(1) { margin-top: 0; } 
.iotTerm dt { margin-top: 0px !important; }
.iotTerm span { width: 22px; height: 13px; display: block; }
 
.term> li { margin-top: 8px; }
.term> li:nth-child(1) { margin-top: 0; } 
.term dt { margin-top: 0px !important; }
.term span { width: 22px; height: 13px; display: block; }

.guide01 { background: #ffde00; border: 1px solid #dec100; }
.guide02 { background: #ffa800; border: 1px solid #de9200; }
.guide03 { background: #ed145b; border: 1px solid #d30045; }
.guide04 { background: #0072bc; border: 1px solid #0061a0; }

.txt11 { font-size: 11px; font-family: 'Dotum'; margin-top: 5px; color: #333; }

/*20181122*/
.minwon1 { background: url(../images/minwon_1.png) left top no-repeat; }
.minwon2 { background: url(../images/minwon_2.png) left top no-repeat; }
.minwon3 { background: url(../images/minwon_3.png) left top no-repeat; }
.minwon1, .minwon2, .minwon3 { height: 20px; padding-left: 23px; display: inline-block; vertical-align: middle; margin-right: 20px; }
.minwon1 span, .minwon2 span, .minwon3 span { margin-top: 4px; display: block; }


/*20181126 민원처리*/
.popup2 { width:210px !important; border: 1px solid #4a5164; background: #fff; position: absolute; z-index: 999;  }
.info_tit { border-top:2px solid #595959; background:#fafbfd; border-bottom:1px solid #c8cfd4; letter-spacing:-1px; text-align:center; padding:12px 0; font-family:'notokr-bold'; }
.info_img { border:1px solid #c8cfd4; height:80px; margin:5px 0; }

.pop_conts3 { padding: 10px; }
.textbox> span { border:1px solid #c8cfd4; width:49%; display:inline-block; text-align:center; letter-spacing:-1px; font-size:14px; padding:8px 0; vertical-align:middle; box-sizing: border-box; max-height: 37px; }
.textbox> span> img { vertical-align:middle; margin-right:3px; }

.btn07 { background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eeeeee));
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%, #eeeeee 100%);
	background: -o-linear-gradient(top,  #ffffff 0%, #eeeeee 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%, #eeeeee 100%);
	background: linear-gradient(top,  #ffffff 0%, #eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', gradientType=0);
	border:1px solid #c8cfd4;
	}
	
.popup2 .btn07 { display:block; padding:8px 0; text-align:center; letter-spacing:-1px; font-size:14px; margin-top:5px; }
.sms_btn { background:url(../images/sms_icon.png) no-repeat left center; padding-left:22px; }
.remote_btn { background:url(../images/remote_icon.png) no-repeat left center; padding-left:22px; }


.tt_tit2 { padding: 7px 13px; background: #f2f4f4; color: #000; letter-spacing: -1px; font-size: 17px; position: relative; }
.tt_tit2 span { background: url(../images/titbg.png) no-repeat left center; padding-left:15px; display: inline-block; }
.plus_btn { background:url(../images/plus_btn.png) no-repeat left center; width:20px; height:20px; display:block; position:absolute; right:40px; top:10px;}
.tooltip2 { border:1px solid #313942; background:#ffffff; position:absolute; z-index: 999; width:320px; }
.tooltip2:after { content:url(../images/bg_tool_tip_bg.png); width:29px; height:43px; left:50%; position:absolute; bottom:-43px; transform:translateX(-50%); } 

.legend { position:absolute; }

/*181127*/
.process { position:absolute; z-index:999; left:45%; transform:translateX(-30%);  top:0; width:870px; cursor: pointer;}
.p_f { background:url(../images/cvplProcess_off.png) no-repeat left center;  width:158px;}
.p_l { background:url(../images/cvplProcess_last_off.png) no-repeat left center;  width:158px; }
.p_a { background:url(../images/cvplProcess_mid_off.png) no-repeat left center;  width:140px; }
.process> li { float:left; text-align:center; margin-left:-1px; padding:10px 0; min-height:30px; }
.process:after { display:block; clear:both; content:""; }
.process> li> span { display:block; }
.step { color:#224268; font-size:11px; font-family: 'Dotum'; font-weight:bold; }
.p_text { letter-spacing:-1px; font-size:14px; font-family: 'Dotum';}
.p_f> span { margin-left:20px;}
.p_l> span { margin-right:20px;}
.process> .on> span { color:#ffffff !important;  }

.sms { background:url(../images/sms_bg.png) no-repeat left center; width:206px; height:431px; position:absolute; right:20px; bottom:150px; }
.smsbox { position:relative; margin-top:52px; margin-left:6px; width:193px;  }
.smsbox span { background:#16477f; color:#fff; text-align:center; display:block; padding:5px 0;}
.smscont { background:#f2f2f2; padding:10px; height:278px; }
.smscont textarea { height:100%; border:1px solid #d8d8d8; width:100%; font-size:13px; font-family: 'Dotum'; padding:5px; box-sizing:border-box; } 
.btn08 { padding:3px 15px; letter-spacing:-1px; font-size: 14px; display:inline-block; background:#494949; color:#fff; position:absolute; left:50%; bottom:12px; transform:translateX(-50%); border-radius: 6px;}

.topmenu { position:absolute; right:10px; top:50%; transform:translateY(-50%);} /*181205수정*/
.topmenu> li {  border:1px solid #dbdbdb;  float:left; width:80px; text-align:center; padding:6px 0; margin-left: -1px; background:#f4f4f4; } /*181205수정*/
.topmenu> li > a { font-family: 'Dotum'; font-weight:bold; letter-spacing:-1px; font-size:12px;  display:block; padding-top: 28px; color:#37588e;} /*181205수정*/
.topmenu> li:first-child { } /*181205수정*/

.tm01 { background:url(../images/tm01.png) no-repeat center top;}
.tm02 { background:url(../images/tm02.png) no-repeat center top;}
.tm03 { background:url(../images/tm03.png) no-repeat center top;}
.tm04 { background:url(../images/tm04.png) no-repeat center top;}
.tm05 { background:url(../images/tm05.png) no-repeat center top;}
.tm06 { background:url(../images/tm06.png) no-repeat center top;}

/*181130 차트*/
#chart { width:360px; background-color: rgba( 0, 0, 0, 0.7 ); padding:10px; }
.topwrap { width:100%; position:relative; }
.topbtn{ position:absolute; right:0; top:50%; transform:translateY(-50%); }
.station_id { width:80%; border:1px solid #0c0d0d; font-weight:bold; padding:6px 20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #cdcdcd));
	background: -moz-linear-gradient(top, #ffffff 0%, #cdcdcd 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%, #cdcdcd 100%);
	background: -o-linear-gradient(top,  #ffffff 0%, #cdcdcd 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%, #cdcdcd 100%);
	background: linear-gradient(top,  #ffffff 0%, #cdcdcd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cdcdcd', gradientType=0);
	
	border-top-left-radius: 40px; -webkit-border-top-left-radius: 40px; -moz-border-top-left-radius: 40px; 
	border-top-right-radius: 40px; -webkit-border-top-right-radius: 40px; -moz-border-top-right-radius: 40px; 
	border-bottom-left-radius: 40px; -webkit-border-bottom-left-radius: 40px; -moz-border-bottom-left-radius: 40px; 
	border-bottom-right-radius: 40px; -webkit-border-bottom-right-radius: 40px; -moz-border-bottom-right-radius: 40px; 
	}
	
.station_id> span { color:#ed145b; }
.c_tit { font-family: 'Dotum'; font-weight:bold; color:#fff; background:url(../images/g_tit_bg.png) no-repeat left center; padding:3px 0 3px 30px; margin-top:5px; letter-spacing:-1px;}


/*예보,저감*/
.r1_tit { text-align:center; padding:8px 0;  background: #4a5164; color: #fff; letter-spacing: -1px; font-size: 17px; position: relative; }
.r1 { position:absolute; width:300px; }
.r1> table { width:100%; border-top:2px solid #000; }
.r1> table> tbody> tr> th { background-color: rgba( 0, 0, 0, 0.7 ); color:#fff; border-bottom:1px solid #d6d6d6; text-align:center; font-size:13px; padding:7px 0; }
.r1> table> tbody> tr> td { background-color: rgba( 0, 0, 0, 0.7 ); color:#FF0; border-left:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6; text-align:center;  font-size:13px; padding:15px; }
.pt1 { color:#9ee3ff; display:block; }
.r1> table> tbody> tr> th> img { vertical-align:top; margin-left:5px; }

/*181130*/
#chart { position: absolute; width:360px; background-color: rgba( 0, 0, 0, 0.7 ); padding:10px; z-index: 100;}
.topwrap { width:100%; position:relative; }
.topbtn{ position:absolute; right:0; top:50%; transform:translateY(-50%); }
.station_id { width:80%; border:1px solid #0c0d0d; font-weight:bold; padding:6px 20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #cdcdcd));
	background: -moz-linear-gradient(top, #ffffff 0%, #cdcdcd 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%, #cdcdcd 100%);
	background: -o-linear-gradient(top,  #ffffff 0%, #cdcdcd 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%, #cdcdcd 100%);
	background: linear-gradient(top,  #ffffff 0%, #cdcdcd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cdcdcd', gradientType=0);
	
	border-top-left-radius: 40px; -webkit-border-top-left-radius: 40px; -moz-border-top-left-radius: 40px; 
	border-top-right-radius: 40px; -webkit-border-top-right-radius: 40px; -moz-border-top-right-radius: 40px; 
	border-bottom-left-radius: 40px; -webkit-border-bottom-left-radius: 40px; -moz-border-bottom-left-radius: 40px; 
	border-bottom-right-radius: 38px; -webkit-border-bottom-right-radius: 38px; -moz-border-bottom-right-radius: 38px; 
	}
	
.station_id> span { color:#ed145b; }
.c_tit { font-family: 'Dotum'; font-weight:bold; color:#fff; background:url(../images/g_tit_bg.png) no-repeat left center; padding:3px 0 3px 30px; margin-top:5px; letter-spacing:-1px;}

.topmenu> li.on { color:#153159; background:#ffffff; }/*181205추가*/
.topmenu> li.on { background:#ffffff; }/*181205추가*/
.topmenu> li.on a { color:#153159; }/*181205추가*/


/*시계4*/
.clock4 { background:#484848; padding:5px 15px; position:absolute; right:10px; bottom:120px; z-index: 1000; display: none;}
.clock4> .c_cont> span { color:#ffffff; margin-bottom:5px; display:block; }
.clock4 .day { font-size:13px; font-family:Verdana, Geneva, sans-serif; padding:3px 5px; text-align: center; }
.clock4 .time { display:block;}
.clock4 .time> em { font-family:'RussellSquare'; font-size:20px; margin-top:2px; background:#7dbe24; padding:5px 7px; display:inline-block; color:#ffffff; border-radius:5px; 
	box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.5)  ; }
.clock4 .time> img { margin:0 6px; vertical-align:middle; }


