@CHARSET "UTF-8";

#testMenu>a {
	background: #fff;
	color: #000;
	padding: 10px 10px;
	cursor: pointer;
}

#testMenu>a.on {
	background: #1388e6;
	color: #fff;
	padding: 10px 10px;
	cursor: pointer;
}

.zoomPart div {
	position: absolute;
	width: 6px;
	height: 10px;
	margin-top: -10px;
	cursor: pointer;
	border-bottom: 1px solid darkgray;
}

.zoomText {
	margin: 20px 0px 0px -30px;
	background-size: 515px 26px;
	width: 30px;
	height: 126px;
}

.zoomText div {
	position: absolute;
	width: 29px;
	left: 0px;
	height: 15px;
	margin: -6px 0px 0px;
}

.ui-tabs-tab.ui-tabs-active{
	background: #1fc700 !important;
    font-family: 'Dotum';
    font-size: 14px;
    font-weight: bold !important;
    letter-spacing: -1px;
    color: #fff !important;
    border: 1px solid #19a600 !important;	
}

.ui-tabs-tab{
	background: #f6f6f6 !important;
	border: 1px solid #dedede !important;
	font-family: 'Dotum';
	font-size: 14px;
	font-weight: bold !important;
	letter-spacing: -1px;
	color: #494949 !important;
	border-radius: initial !important;
}

.ui-widget-header {
    border: none !important;
    background: none !important;
}

.jsgrid-grid-header{
	border-top: 2px solid #0a0c0b !important;
	border-color: #d5d5d5;
}

.jsgrid-header-cell{
	color: #000 !important;
	font-size: 12px;
	font-family: 'Datum';
	text-align: center;
    font-weight: bold;
}

.jsgrid-selected-row>.jsgrid-cell {
    background: #eef3f7 !important;
    border-color: #d5d5d5 !important;
}

.jsgrid-row>td, .jsgrid-alt-row>td{
	padding: 10px 0px !important;
    text-align: center;
    font-family: 'Datum';
    border-color: #d5d5d5;
    color: #363636;
    font-size: 12px;
}

.jsgrid-cell {
    background: #fff !important;
}

#cityDistrictToolbar, #townToolbar{
	-webkit-appearance: none;
    background: #313942;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: normal;
    font-style: normal;
    width: 100px;
    font-family: 'Dotum';
}

#cityDistrictToolbar::-ms-expand, #townToolbar::-ms-expand {
   display: none;
}

#poiSelect01, #poiSelect02, #poiSelect03{
	width: 120px;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Dotum';
}

#poiText{
	font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Dotum';
    height: 19px;
    width: 145px;
}

#poiSearch{
	background: #595959;
    color: #fff;
    font-size: 12px;
    padding: 5px 3px;
    font-style: normal;
    font-family: 'Dotum';
}

table.map_info_table {
    border-top: 2px solid #595959;
    color: #353535;
    background: #fff;
    width: 350px;
    margin-left: 5px;
    margin-top: 5px;
}

table.map_info_table th, table.map_info_table td {
    border-bottom: 1px solid #c8cfd4;
    letter-spacing: 0 !important;
}

table.map_info_table th {
    background: #fafbfd;
    text-align: center;
    font-size: 14px;
    color: #000;
    line-height: 42px;
    border-right: 1px solid #c8cfd4;
    font-size: 13px;
    font-family: notokr-bold;
    letter-spacing: -1px;
}

table.map_info_table td {
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #c8cfd4;
}

#popup{
	height: 257px !important;
}

#popup .pop_conts{
	height: 160px !important; 
}

ul[role="tablist"]{
	margin-left:30px !important;
}

.lnb{
	padding-top:50px !important;
}

.instanceArea{
	position: absolute; z-index: 4; padding: 13px 15px; width: 314px; border-bottom: 1px solid #d9d9d9;
}

.instanceArea > a{
	padding: 4px 10px; display: block; color: #333b3e; font-family: 'Dotum'; font-size: 11px; letter-spacing: -1px; background: #fff; width: 33px; border: 1px solid #a2abb4
}


#workSpace { position: absolute; right: 270px; top: 10px; z-index: 1;}
#workSpace:after { display: block; clear: both; content: ''; } 
#workSpace li { float:left; }
#workSpace li a { padding: 4px 8px; display: block; color: #333b3e; font-family: 'Dotum'; font-size: 11px; letter-spacing: -1px; background: #fff; border-top: 1px solid #a2abb4; border-left: 1px solid #a2abb4; border-bottom: 1px solid #a2abb4; }
#workSpace li:last-child a { border-right: 1px solid #a2abb4; }
#workSpace li.on a { background: #1688e8; border-color: #175d99; color: #fff; }


#chartTitle{
	width: 490px;
    position: absolute;
    background: #fff;
    height: 50px;
    z-index: 3;
    border-right: 1px solid #fff;
}
#chartArea{
	position: absolute; 
	width: 490px;
    z-index: 3;
    height: 500px;
    border-right: 1px solid #fff;
    background: #0c2641;
    opacity:0.7;
    overflow-y:auto;
    margin-top: 50px;
}

#cvplPopupOverlay { 
		border:1px solid #313942; 
		background:#ffffff; 
		width:320px; 
		display: none;
        position: absolute;
        -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        bottom: 160px;
    	left: -150px;
}
#cvplPopupOverlay:after { content:url(../images/bg_tool_tip_bg.png); width:29px; height:43px; left:50%; position:absolute; bottom:-43px; transform:translateX(-50%); } 


#alertDiv{
	position: absolute;
	z-index: 3;
	display: none;
	top: 50%;
    color: white;
    background: black;
    left: 45%;
    padding: 10px 75px;
    letter-spacing: -1px;
    opacity: 0.8;
    font-size: 20px;
}

#bufferRadius{position: absolute; z-index: 3; display: none; top: 50%; color: white; background: black; left: 45%; padding: 10px 15px; letter-spacing: -1px; opacity: 0.8; font-size: 20px;}